<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PARKINGEntities" connectionString="metadata=res://*/Models.DataBase.csdl|res://*/Models.DataBase.ssdl|res://*/Models.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9JGLHE6;initial catalog=PARKING;user id=opcode;password=opcode_7;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>